@tailwind base;
@tailwind components;
@tailwind utilities;

.family{
    font-family: 'Rancho';
}
.family1{
    font-family: 'Raleway', sans-serif;
}
.headerBgImg{
    background-image: url(../src/images/more/headerBg.jpg);
    background-size: cover;
}
.footerBgImg{
    background-image: url(../src/images/more/24.jpg);
    background-size: cover;
}
.banner{
    background-image: url(../src/images/more/3.png);
}
.product-banner{
    background-image: url(../src/images/more/1.png);
}
.footerTopBanner{
    background-image: url(../src/images/more/13.jpg);
}
.addCoffeeBanner{
    background-image: url(../src/images/more/11.png);
    background-repeat: no-repeat;
}
.color-brown{
    background-color: #D2B48C;
}